body {
    background-color: rgb(238, 238, 238);
}

h2 {
  font-family:andale mono, monospace;
  font-weight:100;
  color: rgb(0, 0, 0);
}

p {
  font-family:andale mono, monospace;
  color: rgb(0, 0, 0);
}

th, td {
  padding: 0px;
  font-family:andale mono, monospace;
}

.button {
  border: none;
  font-family:andale mono, monospace;
  background-color: rgb(218, 218, 218);
  font-size: 22px;
}

.button:hover {
  border: none;
  font-family:andale mono, monospace;
  background-color: rgb(163, 163, 163);
}

.button_h {
  border: none;
  font-family:andale mono, monospace;
  background-color: rgb(218, 218, 218);
  font-size: 24px;
  text-align: left;
}

.button_h:hover {
  border: none;
  font-family:andale mono, monospace;
  background-color: rgb(163, 163, 163);
}

.container {
  display: grid;
  grid-template-columns: 1px 1.6fr 3fr 1.3fr 0.5fr ;
  grid-template-rows: auto;
  background-color: black;
  column-gap: 15px;
  align-items: center;
}

.item-a {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: white;
}

.item-b {
  grid-column-start: 3;
  background-color: white;
  width: 100%
}

.item-c {
  grid-column-start: 4;
  font-family:andale mono, monospace;
  background-color: rgb(255, 0, 0);
  width: 80%;
  font-size: 28px;
  justify-self: center;
}

.item-d {
  justify-self: center;
  width: 90%
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(201, 201, 201); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e; 
}