<!DOCTYPE html>
<html>
<head>
    <title>Mirage Food Truck</title>
    <link rel="icon" type="image/x-icon" href="/static/web.ico">
    <link rel="stylesheet" href="/static/styles.css">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="container">
        <h2 class="item-a">
            <button onclick="window.location.href='/'" class="button_h" type="button">Mirage Mediterranean Grill</button>
        </h2>
        <table class="item-b">
            <tr>                
                <th>
                    <button onclick="window.location.href='/menu'" class="button" type="button">Menu</button>
                </th>
                <th>
                    <button onclick="window.location.href='/food'" class="button" type="button">Our Food</button>
                </th>
                <th>
                    <button onclick="window.location.href='/services'" class="button" type="button">Services</button>
                </th>
                <th>
                    <button onclick="window.location.href='/contact'" class="button" type="button">Contact</button>
                </th>
              </tr>
        </table>
        <button class="item-c" onclick="window.location.href='/order'" class="button" type="button">Order Now!</button>
        <button class="item-d" onclick="window.location.href='/cart'" class="button" type="button">
            <img style="width:60%;"src="../static/cart.png" alt="Menu">
        </button>
    </div>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
<footer>
    <p>Website created by: Sarmen Ter-oganesyan</p>
    <p><a href="mailto:sarmenteroganesyan@gmail.com">sarmenteroganesyan@gmail.com</a></p>
  </footer>
</html>