{% extends "basic.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/food_style.css">
{% endblock %}

{% block main %}
    <div>
        <h1>Our Food</h1>
    </div>
    <div class="container2">
        <img class="item-f" src="..\static\food\BeefWrap.jpg" alt="Menu"></img>
        <img class="item-f" src="..\static\food\ChickenLulehCombo.jpg" alt="Menu"></img>
        <img class="item-f" src="..\static\food\ChickenPlate.jpg" alt="Menu"></img>
        <img class="item-f" src="..\static\food\ChickenWrap.jpg" alt="Menu"></img>
        <img class="item-f" src="..\static\food\FiletPlate.jpg" alt="Menu"></img>
        <img class="item-f" src="..\static\food\GroundBeefKabob.jpg" alt="Menu"></img>
        <img class="item-f" src="..\static\food\Hummus.jpg" alt="Menu"></img>
        <img class="item-f" src="..\static\food\ShawarmaWrap.jpg" alt="Menu"></img>
        <img class="item-f" src="..\static\food\SpicyChickenPlate.jpg" alt="Menu"></img>
        <img class="item-f" src="..\static\food\SultaniPlate.jpg" alt="Menu"></img>
        <img class="item-f" src="..\static\food\ValleyRiceChicken.jpg" alt="Menu"></img>
    </div>
{% endblock %}